@model WebApplication1.Models.ClientUserViewModel
<div class="jumbotron">
	<h1>@Model.Title</h1>    
</div>
<div class="body-content">
    <!-- helper method from App_Code -->
    @SiteHelper.Render(@Model)
    <hr />
	<div class="caption">
		Enter a name to Add Client or select one to edit.
        <form action="@Href("~/Home/UpdateClients")" method="post" id="clientForm">
            @Html.ValidationSummary()
            @Html.TextBox("clientname"):@Html.DropDownListFor(m => m.SelectedClientId, Model.ClientDropDownList)<br /><br />
            <input type="submit" name="client-form" value="Save/Edit" />
        </form>
        <br />
	</div>
    <hr />
	<div class="caption">
		Enter a name to Add User or select one to edit.
        <form action="@Href("~/Home/UpdateUsers")" method="post" id="userform">
            @Html.ValidationSummary()
            @Html.TextBox("username") : @Html.DropDownListFor(m=>m.SelectedUserId, Model.UserDropDownList)<br />
            @Html.LabelFor(m => m.SelectedClientId)
            @Html.DropDownListFor(m => m.SelectedUserToClientId,Model.UserToClientDropDownList)<br />
            <input type="submit" name="user-form" value="Save/Edit" />
        </form>
	</div>
</div>
<!-- validation scripts - allows client side validation-->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("/bundles/jqueryval")
